<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="output"></div>
    <script>
        const longitude="";
        const latitude="";
        navigator.geolocation.getCurrentPosition(locationSuccess, locationFail);
        function locationSuccess(result){
            document.getElementById("output").innerHTML = `Latitude: ${result.coords.latitude} and Longitude = ${result.coords.longitude};
            latitude = result.coords.latitude;
            longitude = result.coords.logitude;
        }
    </script>
</body>
</html> -->